/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.
Make sure to learn what the starter code does!!
*/

body{
  color: #000000;
  font-size: 16px;
  margin: 1.2em;
  font-family: 'Andika', sans-serif;
  background-color: #DDDDDD;
  background-image: url(../images/pigeon-background.JPEG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main{
  margin-bottom: 100px;
}

h1{
  color: #c12258;
  font-size: 2em;
  text-align: center;
  line-height: 2;
}

caption{
  margin:5px 0px;
}

p{
  padding-top: 15px;
}

a{
  font-size: 16px;
  color: #B21F50;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

table{
    border: 2px solid #000000;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

tbody tr:nth-child(odd){
  background-color: #D1D1D1;
}

tbody tr:nth-child(even){
  background: transparent;
}

tbody tr:hover {
  background-color: rgb(126,8,48,0.25);
}

.colhead{
  background-color: #7e0830;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  min-width: 125px;
  padding: 10px;
  vertical-align: middle;
}

.rowhead{
  border-right: 2px solid #000000;
}

th,td{
  padding: 10px;
  border-top: 2px solid #000000;
  text-align: center;
}

*:focus{
  border-style: dashed;
  border-width: 3px;
  border-color: #417243;
}

thead{
  vertical-align: middle;
}

thead tr:first-child th:first-child{
  border-top-left-radius: 10px;
}

thead tr:last-child th:last-child{
  border-top-right-radius: 10px;
}

tbody tr:last-child th:first-child{
  border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child{
  border-bottom-right-radius: 10px;
}

footer{
  width: 100%;
  background: #000000;
  text-align: center;
  color: #FFFFFF;
  min-height: 75px;
  left: 0;
  bottom: 0;
  position: fixed;
}